.scale-transition {
  &-enter-from,
  &-leave,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  @include transition-default;
}

.scale-rotate-transition {
  &-enter-from,
  &-leave,
  &-leave-to {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }

  @include transition-default;
}
