@charset "UTF-8";
:root {
  --base-primary: #2c66a5;
  --base-success: #00b42a;
  --base-warning: #ff7d00;
  --base-danger: #f53f3f;
  --text-color-1: #1d2129;
  --text-color-2: #3a3a3a;
  --text-color-3: #909399;
  --text-color-4: #c9cdd4;
  --border-color-1: #f2f3f5;
  --border-color-2: #e5e6eb;
  --border-color-3: #c9cdd4;
  --border-color-4: #909399;
  --shadow-color-1: 0 1px 4px 0 rgb(153 153 153 / 10%);
  --shadow-color-2: 0 0 10px rgb(0 0 0 / 10%);
  --shadow-color-3: 0 0 20px rgb(0 0 0 / 10%);
  --shadow-color-4:
    0px 12px 32px 4px rgb(0 0 0 / 4%), 0px 8px 20px rgb(0 0 0 / 8%);
  --fill-color-1: #f9f9f9;
  --fill-color-2: #f2f3f5;
  --fill-color-3: #e5e6eb;
  --fill-color-4: #c9cdd4;
  --header-height: 50px;
  --footer-height: 70px;
}

.expand-transition-enter-active, .expand-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.expand-transition-move {
  transition: transform 0.4s;
}

.expand-x-transition-enter-active, .expand-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.expand-x-transition-move {
  transition: transform 0.4s;
}

.fade-transition-enter-active, .fade-transition-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.fade-transition-enter-from, .fade-transition-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition: opacity 0.25s, transform 0.3s;
}

.fade-bottom-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all 0.28s;
}

.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}

.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.fade-top-enter-active,
.fade-top-leave-active {
  transition: opacity 0.2s, transform 0.25s;
}

.fade-top-enter-from {
  opacity: 0;
  transform: translateY(8%);
}

.fade-top-leave-to {
  opacity: 0;
  transform: translateY(-8%);
}

.scale-transition-enter-from, .scale-transition-leave, .scale-transition-leave-to {
  opacity: 0;
  transform: scale(0);
}
.scale-transition-enter-active, .scale-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scale-transition-move {
  transition: transform 0.4s;
}

.scale-rotate-transition-enter-from, .scale-rotate-transition-leave, .scale-rotate-transition-leave-to {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}
.scale-rotate-transition-enter-active, .scale-rotate-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scale-rotate-transition-move {
  transition: transform 0.4s;
}

.slide-y-transition-enter-from, .slide-y-transition-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}
.slide-y-transition-enter-active, .slide-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-y-transition-move {
  transition: transform 0.4s;
}

.slide-y-reverse-transition-enter-from, .slide-y-reverse-transition-leave-to {
  opacity: 0;
  transform: translateY(15px);
}
.slide-y-reverse-transition-enter-active, .slide-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-y-reverse-transition-move {
  transition: transform 0.4s;
}

.slide-x-transition-enter-from, .slide-x-transition-leave-to {
  opacity: 0;
  transform: translateX(-15px);
}
.slide-x-transition-enter-active, .slide-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-x-transition-move {
  transition: transform 0.4s;
}

.slide-x-reverse-transition-enter-from, .slide-x-reverse-transition-leave-to {
  opacity: 0;
  transform: translateX(15px);
}
.slide-x-reverse-transition-enter-active, .slide-x-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.slide-x-reverse-transition-move {
  transition: transform 0.4s;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  z-index: 999;
  transition: all 300ms ease;
}

.slide-left-enter-from,
.slide-right-leave-to {
  opacity: 1;
  transform: translateX(100vw);
}

.slide-left-leave-to,
.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-60vw);
}

.scroll-y-transition-enter-from, .scroll-y-transition-leave-to {
  opacity: 0;
}
.scroll-y-transition-enter-from {
  transform: translateY(-15px);
}
.scroll-y-transition-leave-to {
  transform: translateY(15px);
}
.scroll-y-transition-enter-active, .scroll-y-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scroll-y-transition-move {
  transition: transform 0.4s;
}

.scroll-y-reverse-transition-enter-from, .scroll-y-reverse-transition-leave-to {
  opacity: 0;
}
.scroll-y-reverse-transition-enter-from {
  transform: translateY(15px);
}
.scroll-y-reverse-transition-leave-to {
  transform: translateY(-15px);
}
.scroll-y-reverse-transition-enter-active, .scroll-y-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scroll-y-reverse-transition-move {
  transition: transform 0.4s;
}

.scroll-x-transition-enter-from, .scroll-x-transition-leave-to {
  opacity: 0;
}
.scroll-x-transition-enter-from {
  transform: translateX(-15px);
}
.scroll-x-transition-leave-to {
  transform: translateX(15px);
}
.scroll-x-transition-enter-active, .scroll-x-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scroll-x-transition-move {
  transition: transform 0.4s;
}

.scroll-x-reverse-transition-enter-from, .scroll-x-reverse-transition-leave-to {
  opacity: 0;
}
.scroll-x-reverse-transition-enter-from {
  transform: translateX(15px);
}
.scroll-x-reverse-transition-leave-to {
  transform: translateX(-15px);
}
.scroll-x-reverse-transition-enter-active, .scroll-x-reverse-transition-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
}
.scroll-x-reverse-transition-move {
  transition: transform 0.4s;
}

.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity 0.1 ease-in-out, transform 0.15s ease-out;
}

.zoom-out-enter-from,
.zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
}

.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.2s, opacity 0.3s ease-out;
}

.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.92);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.06);
}

* > .enter-x:nth-child(1) {
  transform: translateX(50px);
}

* > .-enter-x:nth-child(1) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(1),
* > .-enter-x:nth-child(1) {
  z-index: 9;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

* > .enter-x:nth-child(2) {
  transform: translateX(50px);
}

* > .-enter-x:nth-child(2) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(2),
* > .-enter-x:nth-child(2) {
  z-index: 8;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

* > .enter-x:nth-child(3) {
  transform: translateX(50px);
}

* > .-enter-x:nth-child(3) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(3),
* > .-enter-x:nth-child(3) {
  z-index: 7;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

* > .enter-x:nth-child(4) {
  transform: translateX(50px);
}

* > .-enter-x:nth-child(4) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(4),
* > .-enter-x:nth-child(4) {
  z-index: 6;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

* > .enter-x:nth-child(5) {
  transform: translateX(50px);
}

* > .-enter-x:nth-child(5) {
  transform: translateX(-50px);
}

* > .enter-x:nth-child(5),
* > .-enter-x:nth-child(5) {
  z-index: 5;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

* > .enter-y:nth-child(1) {
  transform: translateX(50px);
}

* > .-enter-y:nth-child(1) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(1),
* > .-enter-y:nth-child(1) {
  z-index: 9;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

* > .enter-y:nth-child(2) {
  transform: translateX(50px);
}

* > .-enter-y:nth-child(2) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(2),
* > .-enter-y:nth-child(2) {
  z-index: 8;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

* > .enter-y:nth-child(3) {
  transform: translateX(50px);
}

* > .-enter-y:nth-child(3) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(3),
* > .-enter-y:nth-child(3) {
  z-index: 7;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

* > .enter-y:nth-child(4) {
  transform: translateX(50px);
}

* > .-enter-y:nth-child(4) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(4),
* > .-enter-y:nth-child(4) {
  z-index: 6;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

* > .enter-y:nth-child(5) {
  transform: translateX(50px);
}

* > .-enter-y:nth-child(5) {
  transform: translateX(-50px);
}

* > .enter-y:nth-child(5),
* > .-enter-y:nth-child(5) {
  z-index: 5;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes enter-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.collapse-transition {
  transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
}

body {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #f8f4f1;
  line-height: 1.625rem;
  font-family: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-size: 1.0625rem;
  color: var(--text-color-2);
  color: rgb(var(--color-foreground-800)/100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: "opsz" 40, "wght" 410;
}
body #app {
  overflow-y: auto;
  flex: 1;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  -webkit-overflow-scrolling: touch;
  -overflow-scrolling: touch;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

/* 修改 placeholder颜色 */
input::placeholder {
  color: #999;
}

/* 去除ie edge的密码框默认出现的小眼睛 */
input[type=password]::-ms-reveal {
  display: none;
}

input[type=password]::-ms-clear {
  display: none;
}

input[type=password]::-o-clear {
  display: none;
}

/* 文档
* ========================================================================== */
/**
* 1。在所有浏览器中添加边框框大小 (自以为是)。
* 2。背景不重复默认情况下 。
*/
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */
}

/**
* 1。在所有浏览器中添加文本修饰继承 。
* 2。在所有浏览器中添加垂直对齐继承 。
*/
::before,
::after {
  vertical-align: inherit;
  /* 2 */
  text-decoration: inherit;
  /* 1 */
}

/**
* 1。在所有浏览器中使用默认光标 (自以为是)。
* 2。更改所有浏览器中的行高 (自以为是)。
* 3。打破的话，以防止溢出在所有浏览器 。
* 4。在所有浏览器中使用4个空格的制表符宽度 (自以为是)。
* 5.删除iOS链接上的灰色突出显示 。
* 6。防止在iOS中更改方向后调整字体大小。
*/
:where(:root) {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  text-size-adjust: 100%;
  /* 6 */
  /* 4 */
  tab-size: 4;
  /* 4 */
  overflow-wrap: break-word;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  /* 5 */
}

/* 截面图
* ========================================================================== */
/**
* 删除所有浏览器中的边距 (自以为是)。
*/
:where(body) {
  margin: 0;
}

/**
* 更正 “section” 和 “section” 中 “h1” 元素的字体大小和边距
* Chrome、Edge、Firefox和Safari中的 “文章” 上下文。
*/
:where(h1) {
  margin: 0.67em 0;
  font-size: 2em;
}

/* 分组内容
* ========================================================================== */
/**
* 在Chrome，Edge和Safari中删除嵌套列表上的边距。
*/
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
* 1。更正Firefox中边框颜色的继承
* 2。在Firefox中添加正确的框大小。
*/
:where(hr) {
  height: 0;
  /* 2 */
  color: inherit;
  /* 1 */
}

/**
* 在所有浏览器的导航列表中删除列表样式 。
*/
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
* 防止旁白忽略Safari中的列表语义 。
*/
:where(nav li)::before {
  float: left;
  content: "​";
}

/**
* 1。在所有浏览器中更正字体大小的继承和缩放。
* 2。在所有浏览器中纠正奇怪的 'em' 字体大小。
* 3。防止容器在所有浏览器中溢出 (自以为是)。
*/
:where(pre) {
  overflow: auto;
  /* 3 */
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* 文本级语义
* ========================================================================== */
/**
* 在Safari中添加正确的文本装饰。
*/
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
* 在Chrome、Edge和Safari中添加正确的字体粗细。
*/
:where(b, strong) {
  font-weight: bolder;
}

/**
* 1。在所有浏览器中更正字体大小的继承和缩放。
* 2。在所有浏览器中纠正奇怪的 'em' 字体大小。
*/
:where(code, kbd, samp) {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* 在所有浏览器中添加正确的字体大小。
*/
:where(small) {
  font-size: 80%;
}

/* 嵌入内容
* ========================================================================== */
/*
* 在所有浏览器中更改媒体元素的对齐方式 。
*/
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
* 在所有浏览器中删除iframe的边框 。
*/
:where(iframe) {
  border-style: none;
}

/**
* 更改填充颜色以匹配所有浏览器中的文本颜色 。
*/
:where(svg:not([fill])) {
  fill: currentcolor;
}

/* 表格数据
* ========================================================================== */
/**
* 1。折叠所有浏览器中的边框间距 (自以为是)。
* 2。在所有Chrome，Edge和Safari中正确的表格边框颜色继承。
* 3。在Chrome、Edge和Safari中删除表格内容中的文本缩进。
*/
:where(table) {
  border-collapse: collapse;
  /* 1 */
  border-color: inherit;
  /* 2 */
  text-indent: 0;
  /* 3 */
}

/* 表格
* ========================================================================== */
/**
* 删除Safari中控件的边距。
*/
:where(button, input, select) {
  margin: 0;
}

/**
* 纠正无法在iOS和Safari中设置按钮样式的问题。
*/
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  appearance: auto;
}

/**
* 改变不一致的外观在所有浏览器 。
*/
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
* 在Chrome，Edge和Firefox中添加正确的垂直对齐方式。
*/
:where(progress) {
  vertical-align: baseline;
}

/**
* 1。删除Firefox和Safari中的边距。
* 3。在所有浏览器中更改调整大小方向 (自以为是)。
*/
:where(textarea) {
  margin: 0;
  /* 1 */
  resize: vertical;
  /* 3 */
}

/**
* 1。纠正Chrome、Edge和Safari中的奇怪外观。
* 2。在Safari中更正大纲样式。
*/
:where([type="search" i]) {
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* 纠正Safari中递增和递减按钮的光标样式。
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
* 在Chrome，Edge和Safari中更正占位符的文本样式。
*/
/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::input-placeholder {
  opacity: 0.54;
  color: inherit;
}

/**
* 在macOS上的Chrome，Edge和Safari中删除内部填充。
*/
::-webkit-search-decoration {
  appearance: none;
}

/**
* 1。纠正无法在iOS和Safari中设置上传按钮样式的问题。
* 2。在Safari中将字体属性更改为 “继承”。
*/
::-webkit-file-upload-button {
  appearance: auto;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* 交互式
* ========================================================================== */
/*
* 在Safari中添加正确的样式。
*/
:where(dialog) {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em;
  border: solid;
  width: fit-content;
  height: fit-content;
  background-color: white;
  color: black;
}

:where(dialog:not([open])) {
  display: none;
}

/*
* 在Safari中添加正确的显示。
*/
:where(details > summary:first-of-type) {
  display: list-item;
}

/* 可访问性
* ========================================================================== */
/**
* 改变光标在繁忙的元素在所有浏览器 。
*/
:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
* 在所有浏览器中更改控制元素上的光标 。
*/
:where([aria-controls]) {
  cursor: pointer;
}

/*
* 更改光标在禁用，不可编辑，或以其他方式
* 在所有浏览器中不可操作的元素 (自以为是)。
*/
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/*
* 更改在视觉上隐藏的可访问元素的显示
* 在所有浏览器 。
*/
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/**
* 限制大小的页面宽度在所有浏览器 。
*/
:where(iframe, img, input, video, select, textarea) {
  max-width: 100%;
  height: auto;
}

.tabs-auto-height.van-tabs {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}
.tabs-auto-height.van-tabs .van-tabs__content {
  flex: 1;
}
.tabs-auto-height.van-tabs .van-tabs__content .van-tab__panel {
  overflow: auto;
  height: 100%;
}
.tabs-auto-height.van-tabs .van-tabs__content .van-tab__panel .van-pull-refresh {
  min-height: 100%;
}

.red {
  color: #fc4302;
}