.tabs-auto-height.van-tabs {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;

  .van-tabs__content {
    flex: 1;

    .van-tab__panel {
      overflow: auto;
      height: 100%;

      .van-pull-refresh {
        min-height: 100%;
      }
    }
  }
}

.red {
  color: #fc4302;
}
