body:not(body[arco-theme="dark"]) {
  --primary-6: 240, 100, 20; /* #f06414  (主色) */
  --primary-1: 255, 242, 229; /* #fff2e5 */
  --primary-2: 255, 219, 192; /* #ffdbc0 */
  --primary-3: 255, 196, 154; /* #ffc49a */
  --primary-4: 255, 163, 104; /* #ffa368 */
  --primary-5: 255, 138, 68; /* #ff8a44  (hover) */
  --primary-7: 195, 70, 10; /* #c3460a  (click) */
  --success-6: 0, 180, 42; // #00b42a
  --warning-6: 255, 125, 0; // #ff7d00
  --danger-6: 245, 63, 63; // #f53f3f
  --color-border-1: #f7f8fa;
  --color-border-2: #f2f3f5;
  --color-border-3: #e5e6eb;
  --color-border-4: #ccc;
  --color-fill-1: #f7f8fa;
  --color-fill-2: #e5e6eb;
  --color-fill-3: #ccc;
  --color-fill-4: #86909c;
  --color-text-1: #1d2129;
  --color-text-2: #4e5969;
  --color-text-3: #86909c;
  --color-text-4: #ccc;
  --color-bg-1: #f8f4f1;
  --color-bg-2: #fff;
  --color-bg-3: #fff;
  --color-bg-4: #fff;
  --color-bg-5: #fff;
  --shadow1-center: 0 -2px 5px rgb(0 0 0 / 10%);
  --shadow2-center: 0 0 10px rgb(0 0 0 / 10%);
  --shadow3-center: 0 0 20px rgb(0 0 0 / 10%);
}
